.to{
    display:flex;
    width:1500px;
    height:350px;
    
   
    justify-content:space-between;
} 
.phai{
    width: 1000px;
    
}
.trai{
    width:480px;
    height:800px;
    
}   
img{
    width:100%;
}
.name{
    margin-left:400px;
    color:greenyellow;
    font-size:30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}    
.fanpage{
    color:purple;
}
    
